body {

    text-align: center;
}


.second {

    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    
}


.card {

 display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        width:500px;
        height:400px;
        
}


/*
.card img css 부분 수정
*/
.card img {
    max-width: 90%;
    height: 250px;
    width: 300x;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}


@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.card p {
	font-family:'LINESeedKR-Bd';
	font-size:20px;
	
}

.card a {
	font-family:'LINESeedKR-Bd';
	font-size:20px;
	
}

.location img{
	width:20px;
	height:20px;
	position:relative;
	top:14px;
	
}